conf/apollo-types_3.0.0-1202.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://types.apollo.pitt.edu/v3_0_0/"
	xmlns:tns="http://types.apollo.pitt.edu/v3_0_0/" elementFormDefault="qualified">

	<simpleType name="Probability">
		<restriction base="double">
			<minInclusive value="0" />
			<maxInclusive value="1" />
		</restriction>
	</simpleType>


	<simpleType name="Fraction">
		<restriction base="double">
			<minInclusive value="0" />
			<maxInclusive value="1" />
		</restriction>
	</simpleType>

	<simpleType name="PositiveDouble">
		<restriction base="double">
			<minExclusive value="0" />
		</restriction>
	</simpleType>

	<simpleType name="NonNegativeDouble">
		<restriction base="double">
			<minInclusive value="0" />
		</restriction>
	</simpleType>

	<simpleType name="SimulatorTypeEnum">
		<restriction base="string">
			<enumeration value="agent-based" />
			<enumeration value="compartmental" />
		</restriction>
	</simpleType>

	<simpleType name="UnitOfTimeEnum">
		<restriction base="string">
			<enumeration value="year" />
			<enumeration value="month" />
			<enumeration value="day" />
			<enumeration value="hour" />
			<enumeration value="minute" />
			<enumeration value="second" />
			<enumeration value="millisecond" />
		</restriction>
	</simpleType>

	
	<simpleType name="GenderEnum">
		<restriction base="string">
			<enumeration value="M" />
			<enumeration value="F" />
			<enumeration value="U" />
		</restriction>
	</simpleType>

	<simpleType name="SourceOfInfectionEnum">
		<restriction base="string">
			<enumeration value="syringe" />
			<enumeration value="infectiousHost" />
			<enumeration value="eitherSyringeOrInfectiousHost" />
		</restriction>
	</simpleType>

	







	<complexType name="SimulatorTimeSpecification">
		<sequence>
			<element name="unitOfTimeForSimulatorTimeStep" type="tns:UnitOfTimeEnum"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="numberOfUnitsOfTimeInOneSimulatorTimeStep"
				maxOccurs="1" minOccurs="1" type="tns:PositiveDouble">
			</element>
			<element name="runLength" type="positiveInteger" maxOccurs="1"
				minOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="IndividualTreatmentControlStrategy">
		<complexContent>
			<extension base="tns:InfectiousDiseaseControlStrategy">
				<sequence>
					<element name="pathogen" type="tns:ApolloPathogenCode"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="individualTreatment" type="tns:Treatment"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="populationTreatmentCensus" type="tns:PopulationTreatmentCensus"
						maxOccurs="1" minOccurs="0">
					</element>
					<element name="compliance" type="tns:ProbabilisticParameter"
						maxOccurs="1" minOccurs="1" />
					<element name="delayFromSymptomsToTreatment" type="tns:Duration"
						maxOccurs="1" minOccurs="0">
					</element>
					<element name="treatmentSystemLogistics" type="tns:TreatmentSystemLogistics"
						maxOccurs="unbounded" minOccurs="1">
					</element>
					<element name="targetPopulationsAndPrioritizations"
						type="tns:ControlStrategyTargetPopulationsAndPrioritization"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="Vaccination">
		<complexContent>
			<extension base="tns:Treatment">
				<sequence>
					<element name="vaccineId" type="tns:vaccineOntologyId"
						maxOccurs="1" minOccurs="1" />
					<element name="vaccinationEfficacies"
						type="tns:VaccinationEfficacyForSimulatorConfiguration" maxOccurs="unbounded"
						minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="RingIndividualTreatmentControlStrategy">
		<complexContent>
			<extension base="tns:IndividualTreatmentControlStrategy">
				<sequence>
					<element name="ringDiameterInMeters" type="nonNegativeInteger"
						maxOccurs="1" minOccurs="1">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="Infection">
		<complexContent>
			<extension base="tns:ApolloIndexableItem">
				<sequence>
					<element name="pathogen" type="tns:ApolloPathogenCode"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="hostTaxonId" type="tns:NcbiTaxonId"
						maxOccurs="1" minOccurs="1" />
					<element name="infectiousDiseases" type="tns:InfectiousDisease"
						maxOccurs="unbounded" minOccurs="0">
					</element>
					<choice>
						<element name="infectionAcquisitionsFromInfectiousHosts"
							type="tns:InfectionAcquisitionFromInfectiousHost" maxOccurs="unbounded"
							minOccurs="1">
						</element>
						<element name="infectionAcquisitionsFromContaminatedThings"
							type="tns:InfectionAcquisitionFromContaminatedThing" maxOccurs="unbounded"
							minOccurs="1">
						</element>
					</choice>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="Contamination">
		<complexContent>
			<extension base="tns:ApolloIndexableItem">
				<sequence>
					<element name="pathogenTaxonId" type="tns:ApolloPathogenCode"
						maxOccurs="1" minOccurs="1" />
					<element name="abioticEcosystemElement" type="tns:AbioticEcosystemEnum"
						maxOccurs="1" minOccurs="1" />
					<element name="contaminationDuration" type="tns:Duration"
						maxOccurs="1" minOccurs="1" />
					<element name="contaminationAcquisition" type="tns:ContaminationAcquisition"
						maxOccurs="unbounded" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="PopulationInfectionAndImmunityCensus">
		<complexContent>
			<extension base="tns:Census">
				<sequence>
					<element name="populationSpecies" type="tns:NcbiTaxonId"
						maxOccurs="1" minOccurs="1" />
					<element name="pathogen" type="tns:ApolloPathogenCode"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="censusData"
						type="tns:PopulationInfectionAndImmunityCensusData" maxOccurs="1"
						minOccurs="1">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="PopulationInfectionAndImmunityCensusData">
		<complexContent>
			<extension base="tns:CensusData">
				<sequence>
					<element name="censusDataCells"
						type="tns:PopulationInfectionAndImmunityCensusDataCell" maxOccurs="unbounded"
						minOccurs="1">
					</element>
					<element name="exceptionSubpopulations"
						type="tns:PopulationInfectionAndImmunityCensusData" maxOccurs="unbounded"
						minOccurs="0">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="PopulationTreatmentCensusData">
		<complexContent>
			<extension base="tns:CensusData">
				<sequence>

					<element name="treatmentCensusDataCells" type="tns:PopulationTreatmentCensusDataCell"
						maxOccurs="unbounded" minOccurs="1">
					</element>
					<element name="exceptionSubpopulations" type="tns:PopulationTreatmentCensusData"
						maxOccurs="unbounded" minOccurs="0">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	

	

	<simpleType name="ApolloLocationCode">
		<restriction base="token">
			<pattern value="[A-Z0-9]{2,17}"></pattern>
		</restriction>
	</simpleType>

	<complexType name="RequesterIdentification">
		<sequence>
			<element name="requesterName" type="token" />
			<element name="requesterCompany" type="token" />
			<element name="requesterEmail" type="token" />
		</sequence>
	</complexType>

	<complexType name="Vaccine">
		<sequence>
			<element name="description" type="string" maxOccurs="1"
				minOccurs="1" />
			<element name="vaccineIdentifier" type="token" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="valence" type="positiveInteger" maxOccurs="unbounded"
				minOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="AgeGroupEfficacy">
		<sequence>
			<element name="ageRange" type="tns:AgeRangeCategoryDefinition" />
			<element name="vaccineEfficacy" type="tns:Fraction" />
		</sequence>
	</complexType>

	<complexType name="VaccineContraindications">
		<sequence>
			<element name="infants" type="boolean" maxOccurs="1"
				minOccurs="0" />
			<element name="preschoolers" type="boolean" maxOccurs="1"
				minOccurs="0" />
			<element name="schoolAgeChildren" type="boolean" maxOccurs="1"
				minOccurs="0" />
			<element name="youngAdults" type="boolean" maxOccurs="1"
				minOccurs="0" />
			<element name="olderAdults" type="boolean" maxOccurs="1"
				minOccurs="0" />
			<element name="elderly" type="boolean" maxOccurs="1"
				minOccurs="0" />
			<element name="pregnantAdultsRestricted" type="boolean"
				maxOccurs="1" minOccurs="0" />
		</sequence>
	</complexType>



	<complexType name="AntiviralTreatment">
		<complexContent>
			<extension base="tns:Treatment">
				<sequence>
					<element name="antiviralId" type="token" maxOccurs="1"
						minOccurs="1" />
					<element name="antiviralTreatmentEfficacy" type="tns:AntiviralTreatmentEfficacy"
						maxOccurs="unbounded" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="DrugTreatment">
		<complexContent>
			<extension base="tns:Treatment">
				<sequence>
					<element name="drugId" type="token" maxOccurs="1"
						minOccurs="1" />
					<element name="drugTreatmentEfficacy"
						type="tns:DrugTreatmentEfficacyForSimulatorConfiguration"
						maxOccurs="unbounded" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ArrayDimensionsDefinition" />

	<complexType name="TargetPopulationDefinition">
		<sequence>
			<element name="ageRange" type="tns:AgeRangeCategoryDefinition"
				maxOccurs="1" minOccurs="0">
			</element>
			<element name="gender" type="tns:GenderEnum" maxOccurs="1"
				minOccurs="0">
			</element>
			<element name="diseaseOutcome" type="tns:DiseaseOutcomeEnum"
				maxOccurs="1" minOccurs="0">
			</element>
			<element name="otherStratification" type="tns:PopulationStratificationEnum"
				maxOccurs="1" minOccurs="0">
			</element>
		</sequence>
	</complexType>

	<complexType name="PopulationInfectionAndImmunityCensusDataCell">
		<sequence>
			<element name="ageRange" type="tns:AgeRangeCategoryDefinition"
				maxOccurs="1" minOccurs="0">
			</element>
			<element name="gender" type="tns:GenderEnum" maxOccurs="1"
				minOccurs="0">
			</element>
			<choice>
				<element name="infectionState" type="tns:InfectionStateEnum"
					maxOccurs="1" minOccurs="1">
				</element>
				<element name="diseaseState" type="tns:DiseaseOutcomeEnum"
					maxOccurs="1" minOccurs="1">
				</element>
			</choice>
			<element name="fractionInState" type="tns:Fraction"
				maxOccurs="1" minOccurs="1" />

		</sequence>
	</complexType>

	<complexType name="PopulationTreatmentCensusDataCell">
		<sequence>
			<element name="ageRange" type="tns:AgeRangeCategoryDefinition"
				maxOccurs="1" minOccurs="0">
			</element>
			<element name="gender" type="tns:GenderEnum" maxOccurs="1"
				minOccurs="0">
			</element>
			<element name="treatmentState" type="tns:TreatmentStateEnum"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="fractionInTreatmentState" type="tns:Fraction"
				maxOccurs="1" minOccurs="1" />
		</sequence>

	</complexType>



	<complexType name="TemporalArrayDimensionsDefinition">
		<complexContent>
			<extension base="tns:ArrayDimensionsDefinition">
				<sequence>
					<element name="time" type="nonNegativeInteger" maxOccurs="unbounded"
						minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<simpleType name="InfectionStateEnum">
		<restriction base="string">
			<enumeration value="susceptible" />
			<enumeration value="greaterThanOrEqualToId50Exposure" />
			<enumeration value="latent" />
			<enumeration value="infectious" />
			<enumeration value="recovered" />
			<enumeration value="immuneAndActsLikeImmune" />
			<enumeration value="immuneButActsLikeNotImmune" />
			<enumeration value="newly_sick" />
		</restriction>
	</simpleType>

	<simpleType name="TreatmentStateEnum">
		<restriction base="string">
			<enumeration value="treated" />
			<enumeration value="not_treated" />
		</restriction>
	</simpleType>

	<simpleType name="IndividualTreatmentEnum">
		<restriction base="string">
			<enumeration value="vaccination" />
			<enumeration value="antiviral_treatment" />
		</restriction>
	</simpleType>

	<complexType name="AgeRangeCategoryDefinition">
		<complexContent>
			<extension base="tns:CategoryDefinition">
				<sequence>
					<element name="unitOfTimeForLowerBound" type="tns:UnitOfTimeEnum"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="lowerBound" type="nonNegativeInteger"
						maxOccurs="1" minOccurs="1" />
					<element name="unitOfTimeForUpperBound" type="tns:UnitOfTimeEnum"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="upperBound" type="nonNegativeInteger"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="DiseaseOutcomeCategoryDefinition">
		<complexContent>
			<extension base="tns:CategoryDefinition">
				<sequence>
					<element name="diseaseOutcome" type="tns:DiseaseOutcomeEnum"
						maxOccurs="1" minOccurs="1">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="TimeSpanCategoryDefinition">
		<complexContent>
			<extension base="tns:CategoryDefinition">
				<sequence>
					<element name="unitOfTime" type="tns:UnitOfTimeEnum"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="timeZeroReference" type="tns:TimeScaleEnum"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="startOfTimeSpan" type="nonNegativeInteger"
						maxOccurs="1" minOccurs="1" />
					<element name="durationInTimeUnits" type="nonNegativeInteger"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="RealTimeSpanCategoryDefinition">
		<complexContent>
			<extension base="tns:CategoryDefinition">
				<sequence>
					<element name="offsetFromUtcInHours" type="integer"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="beginningTime" type="dateTime" maxOccurs="1"
						minOccurs="1">
					</element>
					<element name="endingTime" type="dateTime" maxOccurs="1"
						minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="RealDateSpanCategoryDefinition">
		<complexContent>
			<extension base="tns:CategoryDefinition">
				<sequence>
					<element name="offsetFromUtcInHours" type="integer"
						maxOccurs="1" minOccurs="0">
					</element>
					<element name="firstDay" type="date" maxOccurs="1"
						minOccurs="1">
					</element>
					<element name="lastDay" type="date" maxOccurs="1"
						minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="RealTimePointCategoryDefinition">
		<complexContent>
			<extension base="tns:CategoryDefinition">
				<sequence>
					<element name="offsetFromUtcInHours" type="integer"
						maxOccurs="1" minOccurs="0">
					</element>
					<element name="date" type="date" maxOccurs="1" minOccurs="1">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<simpleType name="TimeScaleEnum">
		<restriction base="string">
			<enumeration value="simulatorTimeScale" />
			<enumeration value="decsisionTimeScale" />
			<enumeration value="controlStrategyTimeScale" />
			<enumeration value="individualTreatmentTimeScale" />
			<enumeration value="epidemicTimeScale" />
			<enumeration value="gregorianCalendar" />
		</restriction>
	</simpleType>

	<complexType name="PlaceCategoryDefinition">
		<complexContent>
			<extension base="tns:CategoryDefinition">
				<sequence>
					<element name="place" type="tns:PlaceEnum" maxOccurs="1"
						minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="GenderCategoryDefinition">
		<complexContent>
			<extension base="tns:CategoryDefinition">
				<sequence>
					<element name="gender" type="tns:GenderEnum" maxOccurs="1"
						minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="SourceOfInfectionCategoryDefinition">
		<complexContent>
			<extension base="tns:CategoryDefinition">
				<sequence>
					<element name="sourceOfInfection" type="tns:SourceOfInfectionEnum"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="SimulatorTimeRange">
		<sequence>
			<element name="lowerBound" type="nonNegativeInteger" />
			<element name="upperBound" type="nonNegativeInteger" />
		</sequence>
	</complexType>

	<complexType name="TargetPriorityPopulation">
		<sequence>
			<element name="description" type="token" maxOccurs="1"
				minOccurs="1" />
			<choice>
				<element name="targetPopulationDefinition" type="tns:TargetPopulationDefinition"
					maxOccurs="1" minOccurs="1">
				</element>
				<element name="targetPopulationEnum" type="tns:TargetPopulationEnum"
					maxOccurs="1" minOccurs="1">
				</element>
			</choice>
			<element name="fractionOfTargetPopulationToPrioritize" type="tns:Fraction"
				maxOccurs="1" minOccurs="1" />
			<element name="priority" type="nonNegativeInteger" maxOccurs="1"
				minOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="ControlStrategyTargetPopulationsAndPrioritization">
		<sequence>
			<choice>
				<element name="controlStrategyNamedPrioritizationScheme"
					type="tns:NamedPrioritizationSchemeEnum" maxOccurs="1" minOccurs="1">
				</element>
				<element name="controlStrategyTargetPopulationsAndPrioritization"
					type="tns:TargetPriorityPopulation" maxOccurs="unbounded"
					minOccurs="1">
				</element>
			</choice>
		</sequence>
	</complexType>

	<simpleType name="NamedPrioritizationSchemeEnum">
		<restriction base="string">
			<enumeration value="treat_sick_only"></enumeration>
			<enumeration value="ACIP"></enumeration>
			<enumeration value="HHTAP"></enumeration>
			<enumeration value="HHTAP100"></enumeration>
			<enumeration value="none"></enumeration>
		</restriction>
	</simpleType>


	<complexType name="InfectiousDiseaseControlStrategy">
		<complexContent>
			<extension base="tns:ApolloIndexableItem">
				<sequence>
					<element name="description" type="string" maxOccurs="1"
						minOccurs="1" />
					<element name="location" type="tns:Location" maxOccurs="1"
						minOccurs="0">
					</element>
					<element name="controlStrategyStartTime" type="tns:TriggerDefinition"
						maxOccurs="unbounded" minOccurs="1" />
					<element name="controlStrategyStopTime" type="tns:TriggerDefinition"
						maxOccurs="unbounded" minOccurs="0">
					</element>
					<element name="controlStrategyResponseDelay" type="tns:Duration"
						maxOccurs="1" minOccurs="1" />

					<element name="controlStrategyStandDownDelay" type="tns:Duration"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="referenceId" type="nonNegativeInteger"
						maxOccurs="1" minOccurs="0">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="DiseaseSurveillanceTriggerDefinition">
		<complexContent>
			<extension base="tns:TriggerDefinition">
				<sequence>
					<element name="reactiveControlStrategyTest" type="token"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="reactiveControlStrategyThreshold" type="int"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="unitOfMeasureForThreshold" type="tns:UnitOfMeasureEnum"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="reactiveControlStrategyOperator" type="tns:OperatorEnum"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="diseaseSurveillanceCapability" type="tns:DiseaseSurveillanceCapability"
						maxOccurs="1" minOccurs="1">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="TemporalTriggerDefinition">
		<complexContent>
			<extension base="tns:TriggerDefinition">
				<sequence>
					<element name="timeScale" type="tns:TimeScaleEnum"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="timeSinceTimeScaleZero" type="tns:FixedDuration"
						maxOccurs="1" minOccurs="1">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="TreatmentSurveillanceTriggerDefinition">
		<complexContent>
			<extension base="tns:TriggerDefinition">
				<sequence>
					<element name="reactiveControlStrategyTest" type="token"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="reactiveControlStrategyThreshold" type="int"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="reactiveControlStrategyOperator" type="tns:OperatorEnum"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="unitOfMeasureForThreshold" type="tns:UnitOfMeasureEnum"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="treatmentSurveillanceCapability" type="tns:TreatmentSurveillanceCapability"
						maxOccurs="1" minOccurs="1">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="TriggerDefinition" />



	<simpleType name="TargetPopulationEnum">
		<restriction base="token">
			<enumeration value="all" />
			<enumeration value="members_of_the_same_household" />
			<enumeration value="newly_sick" />
			<enumeration value="household_member_of_infant" />
		</restriction>
	</simpleType>

	<simpleType name="PopulationStratificationEnum">
		<restriction base="token">
			<enumeration value="essential_workforce" />
			<enumeration value="pregnant" />
			<enumeration value="high_risk" />
		</restriction>
	</simpleType>



	

<!-- 	<complexType name="GetVisualizerOutputResourcesResult"> -->
<!-- 		<sequence> -->
<!-- 			<element name="methodCallStatus" type="tns:MethodCallStatus"> -->
<!-- 			</element> -->
<!-- 			<element name="urlOutputResources" type="tns:UrlOutputResource" -->
<!-- 				maxOccurs="unbounded" minOccurs="0" /> -->
<!-- 		</sequence> -->
<!-- 	</complexType> -->

<!-- 	<complexType name="SyntheticPopulationGenerationResult"> -->
<!-- 		<sequence> -->
<!-- 			<element name="runId" type="tns:RunIdentification" /> -->
<!-- 			<element name="syntheticPopulationOutputResource" type="tns:UrlOutputResource" -->
<!-- 				maxOccurs="unbounded" minOccurs="1" /> -->
<!-- 		</sequence> -->
<!-- 	</complexType> -->

	<complexType name="DiscreteNonparametricProbabilityDistribution">
		<complexContent>
			<extension base="tns:NonparametricProbabilityDistribution">
				<sequence>
					<element name="probabilityValuePairs" type="tns:ProbabilityValuePair"
						maxOccurs="unbounded" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="TreatmentContraindication">
		<sequence>
			<element name="description" type="string" maxOccurs="1"
				minOccurs="0" />
			<element name="simulatorReferencablePopulation" type="tns:TargetPopulationDefinition"
				maxOccurs="1" minOccurs="0" />
			<element name="fractionOfSimulatorReferencablePopulation"
				type="tns:Fraction" maxOccurs="1" minOccurs="0" />
		</sequence>
	</complexType>

	<complexType name="ConditionalProbabilityTable">
		<sequence>
			<element name="axisDefinitions" type="tns:ArrayDimensionsDefinition"
				maxOccurs="1" minOccurs="1" />
			<choice>
				<element name="pointProbabilities" type="tns:Probability"
					maxOccurs="unbounded" minOccurs="1" />
				<element name="parametricDistribution" type="tns:Probability"
					maxOccurs="unbounded" minOccurs="1" />
			</choice>
		</sequence>
	</complexType>

	<complexType name="Duration">
		<complexContent>
			<extension base="tns:ParameterValue">
				<sequence>
					<element name="unitOfTime" type="tns:UnitOfTimeEnum"
						maxOccurs="1" minOccurs="1" />
					<element name="referenceId" type="nonNegativeInteger"
						maxOccurs="1" minOccurs="0" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="FixedDuration">
		<complexContent>
			<extension base="tns:Duration">
				<sequence>
					<element name="value" type="tns:NonNegativeDouble"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="UncertainDuration">
		<complexContent>
			<extension base="tns:Duration">
				<sequence>
					<element name="probabilityDistribution" type="tns:ProbabilityDistribution"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ProbabilisticParameter">
		<complexContent>
			<extension base="tns:ParameterValue">
				<sequence>
					<choice>
						<element name="probability" type="tns:Probability"
							maxOccurs="1" minOccurs="1" />
						<element name="probabilityDistribution" type="tns:ProbabilityDistribution"
							maxOccurs="1" minOccurs="1" />
					</choice>
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="Treatment">
		<complexContent>
			<extension base="tns:ApolloIndexableItem">
				<sequence>
					<element name="description" type="string" maxOccurs="1"
						minOccurs="1" />
					<element name="speciesOfTreatedOrganism" type="tns:NcbiTaxonId"
						maxOccurs="1" minOccurs="1" />
					<element name="pathogen" type="tns:ApolloPathogenCode"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="numDosesInTreatmentCourse" type="positiveInteger"
						maxOccurs="1" minOccurs="1" />
					<element name="durationOfTreatmentCourse" type="tns:Duration"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="treatmentContraindications" type="tns:TreatmentContraindication"
						maxOccurs="unbounded" minOccurs="0" />

				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="BayesianNetwork">
		<complexContent>
			<extension base="tns:ProbabilityDistribution">
				<sequence>
					<element name="networkStructure" type="tns:BayesianNetworkStructureType"
						maxOccurs="1" minOccurs="1" />
					<element name="CPTs" type="tns:ConditionalProbabilityTable"
						maxOccurs="unbounded" minOccurs="0" />
					<element name="PPFs" type="tns:PrototypicalProbabilityFunction"
						maxOccurs="unbounded" minOccurs="0" />
					<element name="GeNIE_XML" type="tns:GeNIE_XMLType"
						maxOccurs="1" minOccurs="0" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="TimeDefinition">
		<sequence>
			<element name="simulatorTime" type="int" maxOccurs="1"
				minOccurs="1" />
			<element name="dateTime" type="dateTime" maxOccurs="1"
				minOccurs="0" />
		</sequence>
	</complexType>

	<simpleType name="TreatmentPreventableOutcomeEnum">
		<restriction base="string">
			<enumeration value="infection" />
			<enumeration value="infectiousness" />
			<enumeration value="sickness requiring medical attention" />
			<enumeration value="sickness requiring intensive care" />
			<enumeration value="death" />
		</restriction>
	</simpleType>


	<complexType name="TreatmentEfficacy">
		<sequence>
			<element name="hostIdentifier" type="tns:NcbiTaxonId"
				maxOccurs="1" minOccurs="1" />
			<element name="strainIdentifier" type="tns:ApolloPathogenCode"
				maxOccurs="1" minOccurs="1" />
			<element name="forTreatmentPreventableOutcome" type="tns:TreatmentPreventableOutcomeEnum"
				maxOccurs="1" minOccurs="1" />
		</sequence>

	</complexType>

	<complexType name="VaccinationEfficacyForSimulatorConfiguration">
		<complexContent>
			<extension base="tns:TreatmentEfficacy">
				<sequence>
					<element name="averageVaccinationEfficacy" type="tns:Probability"
						maxOccurs="1" minOccurs="1" />
					<element name="vaccinationEfficacyConditionedOnAgeRange"
						type="tns:ConditionalProbabilityDistribution" maxOccurs="1"
						minOccurs="0" />
					<element
						name="vaccinationEfficaciesConditionedOnTimeSinceMostRecentDose"
						type="tns:VaccinationEfficacyConditionedOnTimeSinceDose"
						maxOccurs="1" minOccurs="0" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="VaccinationEfficacyConditionedOnTimeSinceDose">
		<sequence>
			<element name="numberOfDosesAdministered" type="positiveInteger"
				maxOccurs="1" minOccurs="1" />
			<element name="timeIntervalLabelDefinitions" type="tns:TimeAxisCategoryLabels"
				maxOccurs="unbounded" minOccurs="1" />
			<element name="vaccinationEfficacyConditionedOnTimeSinceMostRecentDose"
				type="tns:Probability" maxOccurs="unbounded" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="VaccinationEfficacyInferred">
		<complexContent>
			<extension base="tns:TreatmentEfficacy">
				<sequence>
					<element name="inferredFromTheseStudies" type="tns:VaccinationEfficacyStudy"
						maxOccurs="unbounded" minOccurs="1" />
					<element name="vaccinationEfficacyModel" type="tns:BayesianNetwork"
						maxOccurs="1" minOccurs="0" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="VaccinationEfficacyMeasured">
		<complexContent>
			<extension base="tns:TreatmentEfficacy">
				<sequence>
					<element name="measuredEfficacyValue" type="tns:ConditionalProbabilityTable"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="VaccinationEfficacyStudy">
		<sequence>
			<element name="description" type="string" maxOccurs="1"
				minOccurs="0" />
			<element name="vaccinationPreventableOutcome" type="tns:TreatmentPreventableOutcomeEnum"
				maxOccurs="1" minOccurs="1" />
			<element name="vaccinationEfficacyMeasured" type="tns:VaccinationEfficacyMeasured"
				maxOccurs="unbounded" minOccurs="1" />
			<element name="dataSets" type="string" maxOccurs="unbounded"
				minOccurs="1" />
			<element name="references" type="string" maxOccurs="unbounded"
				minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="AntiviralTreatmentEfficacy">
		<complexContent>
			<extension base="tns:TreatmentEfficacy">
				<sequence>
					<element name="efficacy" type="tns:Probability" maxOccurs="1"
						minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="DrugTreatmentEfficacyForSimulatorConfiguration">
		<complexContent>
			<extension base="tns:TreatmentEfficacy">
				<sequence>
					<element name="averageDrugEfficacy" type="tns:Probability"
						maxOccurs="1" minOccurs="1" />
					<element name="drugEfficacyConditionedOnAgeRange" type="tns:ConditionalProbabilityDistribution"
						maxOccurs="1" minOccurs="0" />
					<element name="drugEfficaciesConditionedOnCurrentDiseaseOutcome"
						type="tns:ConditionalProbabilityDistribution" maxOccurs="1"
						minOccurs="0" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="Ecosystem">
		<sequence>
			<element name="description" type="string" maxOccurs="1"
				minOccurs="1" />
			<element name="bioticEcosystem" type="tns:BioticEcosystem"
				maxOccurs="1" minOccurs="1" />
			<element name="abioticEcosystem" type="tns:AbioticEcosystem"
				maxOccurs="1" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="BioticEcosystem">
		<sequence>
			<element name="communities" type="tns:PopulationInfectionAndImmunityCensus"
				maxOccurs="unbounded" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="AbioticEcosystem">
		<sequence>
			<element name="houses" type="string" maxOccurs="unbounded"
				minOccurs="0" />
			<element name="schools" type="token" maxOccurs="unbounded"
				minOccurs="0" />
			<element name="workplaces" type="token" maxOccurs="unbounded"
				minOccurs="0" />
		</sequence>
	</complexType>

	<complexType name="BayesianNetworkStructureType" />


	<complexType name="PrototypicalProbabilityFunction" />
	<complexType name="GeNIE_XMLType">
		<sequence>
			<element name="theXML" type="string" maxOccurs="1" minOccurs="1" />
		</sequence>
	</complexType>


	<complexType name="TimeAxisCategoryLabels">
		<sequence>
			<element name="label" type="token" maxOccurs="1" minOccurs="1" />
			<element name="simulatorTimeEarliest" type="nonNegativeInteger"
				maxOccurs="1" minOccurs="1" />
			<element name="simulatorTimeLatest" type="nonNegativeInteger"
				maxOccurs="1" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="LocationDefinition">
		<sequence>

			<element name="locationsIncluded" type="tns:ApolloLocationCode"
				maxOccurs="unbounded" minOccurs="1" />
			<element name="locationsExcluded" type="tns:ApolloLocationCode"
				maxOccurs="unbounded" minOccurs="0" />
			<element name="multiGeometries" type="tns:MultiGeometry"
				maxOccurs="unbounded" minOccurs="0" />
		</sequence>
	</complexType>


	
	<complexType name="LibraryItem">
		<sequence>
			<element name="base_type" type="string" />
		</sequence>
	</complexType>

	<complexType name="DecisionAlternative">
		<sequence>
			<element name="singleStrategy" type="string" />
			<element name="combinationStrategy" type="string" />
			<element name="SequentialCombinationStrategy" type="string" />
		</sequence>
	</complexType>

	<complexType name="UtilityFunction">
		<sequence>
			<element name="lambdaFunction" type="string" maxOccurs="1"
				minOccurs="1" />
			<choice>
				<element name="textDescription" type="string" maxOccurs="1"
					minOccurs="1" />
			</choice>
		</sequence>
	</complexType>

	<complexType name="SensitivityAnalysis" />
	<complexType name="SensitivityAnalysisResult" />
	<complexType name="InfectiousDiseaseDecisionModel">
		<complexContent>
			<extension base="tns:ApolloIndexableItem">
				<sequence>
					<element name="controlStrategies" type="tns:InfectiousDiseaseControlStrategy"
						maxOccurs="unbounded" minOccurs="1" />
					<element name="simulatorConfiguration " type="tns:InfectiousDiseaseScenario"
						maxOccurs="unbounded" minOccurs="1" />
					<element name="utilityFunction" type="tns:UtilityFunction"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="DecisionAnalysis">
		<complexContent>
			<extension base="tns:ApolloIndexableItem">
				<sequence>
					<element name="decisionModel" type="tns:InfectiousDiseaseDecisionModel"
						maxOccurs="1" minOccurs="1" />
					<element name="baseCaseResult " type="tns:BaseCaseResult"
						maxOccurs="1" minOccurs="1" />
					<element name="sensitivityAnalyses" type="tns:SensitivityAnalysis"
						maxOccurs="unbounded" minOccurs="0" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ExpectedUtility" />
	<complexType name="BaseCaseResult">
		<sequence>
			<element name="decisionAlternatives" type="tns:DecisionAlternative"
				maxOccurs="unbounded" minOccurs="1" />
			<element name="expectedUtilities" type="double" maxOccurs="unbounded"
				minOccurs="1" />
		</sequence>
	</complexType>


	
	<complexType name="ApolloIndexableItem" />

	<simpleType name="PathogenTaxonID">
		<restriction base="positiveInteger" />
	</simpleType>

	<simpleType name="DiseaseOutcomeEnum">
		<restriction base="string">
			<enumeration value="asymptomatic" />
			<enumeration value="symptomatic" />
			<enumeration value="severely symptomatic" />
			<enumeration value="fulminant" />
			<enumeration value="hospitalization" />
			<enumeration value="death" />
			<enumeration value="recovery" />
		</restriction>
	</simpleType>


	<simpleType name="PlaceEnum">
		<restriction base="string">
			<enumeration value="preschool" />
			<enumeration value="primarySchool" />
			<enumeration value="secondarySchool" />
			<enumeration value="allSchools" />
			<enumeration value="allSchoolsOfOneLevelInOneTract" />
			<enumeration value="workplace" />
			<enumeration value="nzaraCottonFactory" />
			<enumeration value="home" />
		</restriction>
	</simpleType>


	<complexType name="InfectionAcquisitionFromContaminatedThing">
		<sequence>
			<element name="abioticEcosystemType" type="tns:AbioticEcosystemEnum"
				maxOccurs="1" minOccurs="1" />
			<element name="transmissionProbability" type="tns:ProbabilisticParameter"
				maxOccurs="1" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="InfectionAcquisitionFromInfectiousHost">
		<sequence>
			<element name="infectiousHostTaxonId" type="tns:NcbiTaxonId"
				maxOccurs="1" minOccurs="1" />
			<element name="latentPeriodDuration" type="tns:Duration"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="infectiousPeriodDuration" type="tns:Duration"
				maxOccurs="1" minOccurs="1">
			</element>
			<choice>
				<element name="basicReproductionNumbers" type="tns:ReproductionNumber"
					maxOccurs="unbounded" minOccurs="1" />
				<element name="beta" type="tns:Rate" maxOccurs="1"
					minOccurs="1" />
				<element name="transmissionProbability" type="tns:TransmissionProbability"
					maxOccurs="1" minOccurs="1" />
				<!-- <element name="forGlobalEpidemicSimulator" type="tns:GesParametersForContactAndTransmission" 
					maxOccurs="1" minOccurs="1" /> -->
			</choice>
		</sequence>
	</complexType>



	<complexType name="GesParametersForContactAndTransmission">
		<sequence>
			<element name="seasonalityFunctionParameters" type="tns:SeasonalityFunctionParameters"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="infectiousnessParameterSet" type="tns:GesInfectiousnessParameterSet"
				maxOccurs="1" minOccurs="1" />
			<element name="contactModelsForSettings" type="tns:ContactModelForSetting"
				maxOccurs="6" minOccurs="6" />
		</sequence>
	</complexType>

	<complexType name="GesInfectiousnessParameterSet">
		<sequence>
			<element name="infectiousnessProfile"
				type="tns:ContinuousParametricProbabilityDistribution" maxOccurs="1"
				minOccurs="0">
			</element>
			<element name="treat_inf" type="tns:ProbabilisticParameter"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="prophylaxis_inf" type="tns:ProbabilisticParameter"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="vacc_inf" type="tns:ProbabilisticParameter"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="relative_inf_symptomatic_multiplier" type="tns:NonNegativeDouble"
				maxOccurs="1" minOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="ContactModelForSetting">
		<sequence>
			<element name="spatialKernelParametersForSetting" type="tns:SpatialKernelFunctionParameters"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="probSymptomaticInfectionClinicallyDetected"
				type="tns:Probability" maxOccurs="1" minOccurs="1">
			</element>
			<element name="symptomaticInfectionMultiplier" type="tns:PositiveDouble"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="probSevereInfectionClinicallyDetected" type="tns:Probability"
				maxOccurs="1" minOccurs="1">
			</element>
		</sequence>
	</complexType>



	<complexType name="ContactModelForCommunity">
		<complexContent>
			<extension base="tns:ContactModelForSetting">
				<sequence>
					<element name="r_community" type="tns:Rate" maxOccurs="1"
						minOccurs="1">
					</element>
					<element name="c_community" type="tns:PositiveDouble"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="q_community" type="tns:PositiveDouble"
						maxOccurs="1" minOccurs="1">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ContactModelForHousehold">
		<complexContent>
			<extension base="tns:ContactModelForSetting">
				<sequence>
					<element name="r_household" type="tns:Rate" maxOccurs="1"
						minOccurs="1">
					</element>
					<element name="c_household" type="tns:PositiveDouble"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="q_household" type="tns:PositiveDouble"
						maxOccurs="1" minOccurs="1">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ContactModelForPlace">
		<complexContent>
			<extension base="tns:ContactModelForSetting">
				<sequence>
					<element name="placeType" type="tns:AbioticEcosystemEnum"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="r_place" type="tns:Rate" maxOccurs="1"
						minOccurs="1">
					</element>
					<element name="P_Pn_group" type="tns:WithinGroupTransmissionProbability"
						maxOccurs="unbounded" minOccurs="0">
					</element>
					<element name="probSymptomaticIndividualAbsent" type="tns:Probability"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="symptomaticAbsenteeMultiplier" type="tns:PositiveDouble"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="probSeverelyInfectedIndividualAbsent" type="tns:Probability"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="severelyInfectedAbsenteeMultiplier" type="tns:PositiveDouble"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="q_social" type="tns:PositiveDouble"
						maxOccurs="1" minOccurs="1">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>






	<complexType name="InfectiousDiseaseScenario">
		<complexContent>
			<extension base="tns:ApolloIndexableItem">
				<sequence>
					<element name="scenarioDate" type="dateTime" maxOccurs="1"
						minOccurs="1" />
					<element name="location" type="tns:Location" maxOccurs="1"
						minOccurs="1" />
					<element name="infections" type="tns:Infection" maxOccurs="unbounded"
						minOccurs="1" />
					<element name="contaminations" type="tns:Contamination"
						maxOccurs="unbounded" minOccurs="0" />
					<element name="populationInfectionAndImmunityCensuses"
						type="tns:PopulationInfectionAndImmunityCensus" maxOccurs="unbounded"
						minOccurs="1" />
					<element name="infectiousDiseaseControlStrategies" type="tns:InfectiousDiseaseControlStrategy"
						maxOccurs="unbounded" minOccurs="0" />
					<element name="individualLifeCycles" type="tns:IndividualLifeCycle"
						maxOccurs="unbounded" minOccurs="0" />
					<element name="individualBehaviors" type="tns:IndividualBehavior"
						maxOccurs="unbounded" minOccurs="0">
					</element>
					<element name="individualReproductions" type="tns:IndividualMosquitoReproduction"
						maxOccurs="1" minOccurs="0">
					</element>
					<element name="abioticEcosystemCensuses" type="tns:AbioticEcosystemCensus"
						maxOccurs="1" minOccurs="0">
					</element>
					<element name="scenarioCartesianOrigin" type="tns:ScenarioCartesianOrigin"
						maxOccurs="1" minOccurs="0">
					</element>
					<element name="nonApolloParameters" type="tns:NonApolloParameter"
						maxOccurs="unbounded" minOccurs="0">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="Epidemic">
		<complexContent>
			<extension base="tns:ApolloIndexableItem">
				<sequence>
					<element name="causalPathogens" type="tns:ApolloPathogenCode"
						maxOccurs="unbounded" minOccurs="1" />
					<element name="epidemicPeriod" type="tns:EpidemicPeriod"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="administrativeLocations" type="tns:Location"
						maxOccurs="unbounded" minOccurs="1" />
					<element name="epidemicZones" type="tns:NamedMultiGeometry"
						maxOccurs="unbounded" minOccurs="0">
					</element>
					<element name="infections" type="tns:Infection" maxOccurs="unbounded"
						minOccurs="1" />
					<element name="preEpidemicCensus" type="tns:PreEpidemicEcosystemCensus"
						maxOccurs="1" minOccurs="0" />
					<element name="populationSerologySurveys" type="tns:PopulationSerologySurvey"
						maxOccurs="unbounded" minOccurs="0">
					</element>
					<element name="populationInfectionSurveys" type="tns:PopulationInfectionSurvey"
						maxOccurs="unbounded" minOccurs="0">
					</element>
					<element name="infectiousDiseaseControlStrategies" type="tns:InfectiousDiseaseControlStrategy"
						maxOccurs="unbounded" minOccurs="0" />
					<element name="caseDefinitions" type="tns:CaseDefinition"
						maxOccurs="unbounded" minOccurs="0">
					</element>
					<element name="contactDefinitions" type="tns:ContactDefinition"
						maxOccurs="unbounded" minOccurs="0">
					</element>
					<element name="caseLists" type="tns:CaseList" maxOccurs="unbounded"
						minOccurs="0">
					</element>
					<element name="caseCounts" type="tns:CaseCount" maxOccurs="unbounded"
						minOccurs="0">
					</element>
					<element name="transmissionTrees" type="tns:TransmissionTree"
						maxOccurs="unbounded" minOccurs="0">
					</element>
					<element name="relativeRiskDataSets" type="tns:RelativeRiskDataSet"
						maxOccurs="unbounded" minOccurs="0">
					</element>
					<element name="causalPathogenIsolates" type="token"
						maxOccurs="unbounded" minOccurs="0" />
					<element name="references" type="tns:Reference" maxOccurs="unbounded"
						minOccurs="1">
					</element>
					<element name="curator" type="string" maxOccurs="1"
						minOccurs="0">
					</element>
					<element name="editHistory" type="string" maxOccurs="unbounded"
						minOccurs="0">
					</element>
					<element name="reviewedBy" type="string" maxOccurs="unbounded"
						minOccurs="0">
					</element>
					<element name="acknowledgements" type="string" maxOccurs="unbounded"
						minOccurs="0">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>



	<complexType name="AbioticEcosystemCensus">
		<complexContent>
			<extension base="tns:Census">
				<sequence>
					<element name="abioticEcosystemElement" type="tns:AbioticEcosystemEnum"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="CompartmentalModelPopulationAndEnvironmentCensus">
		<sequence>
			<element name="bioticEcosystemParts" type="tns:PopulationInfectionAndImmunityCensusData"
				maxOccurs="unbounded" minOccurs="1" />
			<element name="abioticEcosystemParts" type="tns:AbioticEcosystemCensus"
				maxOccurs="unbounded" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="PopulationTreatmentCensus">
		<complexContent>
			<extension base="tns:Census">
				<sequence>
					<element name="populationSpecies" type="tns:NcbiTaxonId"
						maxOccurs="1" minOccurs="1" />
					<element name="treatmentCensusData" type="tns:PopulationTreatmentCensusData"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ContaminationAcquisition">
		<sequence>
			<element name="abioticEcosystemElement" type="tns:AbioticEcosystemEnum"
				maxOccurs="1" minOccurs="1" />
			<element name="pathogenTaxonId" type="tns:ApolloPathogenCode"
				maxOccurs="1" minOccurs="1" />
			<choice>
				<element name="infectiousHostSource" type="tns:NcbiTaxonId"
					maxOccurs="1" minOccurs="1" />
				<element name="contaminatedSource" type="token" maxOccurs="1"
					minOccurs="1" />
			</choice>
			<element name="contaminationProbability" type="tns:ProbabilisticParameter"
				maxOccurs="1" minOccurs="1" />
		</sequence>
	</complexType>



	<complexType name="PopulationCensusDescription">
		<sequence>
			<element name="populationSpecies" type="tns:NcbiTaxonId"
				maxOccurs="1" minOccurs="1" />
			<element name="characteristics" type="token" maxOccurs="unbounded"
				minOccurs="0" />
			<element name="locations" type="tns:Location" maxOccurs="unbounded"
				minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="AbioticEcosystemElementCensusDescription">
		<sequence>
			<element name="abioticElementID" type="token" maxOccurs="1"
				minOccurs="1" />
			<element name="characteristics" type="token" maxOccurs="unbounded"
				minOccurs="0" />
		</sequence>
	</complexType>

	<complexType name="ContaminatedThingCensus">
		<complexContent>
			<extension base="tns:Census">
				<sequence>
					<element name="kindOfThing" type="tns:AbioticEcosystemEnum"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="pathogen" type="tns:ApolloPathogenCode"
						maxOccurs="1" minOccurs="1" />
					<element name="censusData" type="tns:ContaminatedThingCensusData"
						maxOccurs="1" minOccurs="1" />
				</sequence>

			</extension>
		</complexContent>
	</complexType>

	<complexType name="ContaminatedThingCensusData">
		<complexContent>
			<extension base="tns:CensusData">
				<sequence>
					<element name="fractionContaminated" type="tns:Fraction"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="exceptionSublocations" type="tns:ContaminatedThingCensusData"
						maxOccurs="unbounded" minOccurs="0">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="PreEpidemicEcosystemCensus">
		<sequence>
			<element name="nameOfAdministrativeUnit" type="token"
				maxOccurs="1" minOccurs="0" />
			<element name="numberOfPeople" type="integer" maxOccurs="1"
				minOccurs="1" />
			<element name="numberOfHouseholds" type="integer" maxOccurs="1"
				minOccurs="0" />
			<element name="numberOfSchools" type="integer" maxOccurs="1"
				minOccurs="0" />
			<element name="numberOfWorkplaces" type="integer" maxOccurs="1"
				minOccurs="0" />
			<element name="additionalDescription" type="string"
				maxOccurs="1" minOccurs="0" />
			<element name="subLocationCensuses" type="tns:PreEpidemicEcosystemCensus"
				maxOccurs="unbounded" minOccurs="0" />
			<element name="referenceId" type="nonNegativeInteger"
				maxOccurs="1" minOccurs="0" />
		</sequence>
	</complexType>

	<complexType name="PopulationAndEnvironmentCensus">
		<complexContent>
			<extension base="tns:Census">
				<sequence>
					<element name="nameOfAdministativeUnit" type="token"
						maxOccurs="1" minOccurs="0" />
					<element name="numberOfPeople" type="integer" maxOccurs="1"
						minOccurs="1" />
					<element name="numberOfSchools" type="integer" maxOccurs="1"
						minOccurs="1" />
					<element name="numberOfWorkplaces" type="integer"
						maxOccurs="1" minOccurs="1" />
					<element name="subLocationCensuses" type="tns:PopulationAndEnvironmentCensus"
						maxOccurs="unbounded" minOccurs="0" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="InfectiousDisease">
		<complexContent>
			<extension base="tns:ApolloIndexableItem">
				<sequence>
					<element name="diseaseId" type="tns:SnomedId" maxOccurs="1"
						minOccurs="1" />
					<element name="speciesWithDisease" type="tns:NcbiTaxonId"
						maxOccurs="1" minOccurs="1" />
					<element name="causalPathogen" type="tns:ApolloPathogenCode"
						maxOccurs="1" minOccurs="1" />
					<element name="incubationPeriod" type="tns:Duration"
						maxOccurs="1" minOccurs="0">
					</element>
					<element name="prodromalPeriod" type="tns:Duration"
						maxOccurs="1" minOccurs="0">
					</element>
					<element name="fulminantPeriod" type="tns:Duration"
						maxOccurs="1" minOccurs="0">
					</element>
					<element name="otherIntervals" type="tns:Interval"
						maxOccurs="unbounded" minOccurs="0">
					</element>
					<element name="diseaseOutcomesWithProbabilities" type="tns:DiseaseOutcomeWithProbability"
						maxOccurs="unbounded" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="FractionOfThingContaminated">
		<sequence>
			<element name="abioticEcosystemElement" type="tns:AbioticEcosystemEnum"
				maxOccurs="1" minOccurs="1" />
			<element name="fraction" type="tns:Fraction" maxOccurs="1"
				minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="ApolloPathogenCode">
		<sequence>
			<element name="ncbiTaxonId" type="tns:NcbiTaxonId" maxOccurs="1"
				minOccurs="1" />
			<element name="cladeName" type="token" maxOccurs="1"
				minOccurs="0" />
		</sequence>
	</complexType>


	<simpleType name="NcbiTaxonId">
		<restriction base="token">
			<pattern value="[0-9]"></pattern>
		</restriction>
	</simpleType>

	<simpleType name="SnomedId">
		<restriction base="token">
			<pattern value="[0-9]"></pattern>
		</restriction>
	</simpleType>

	<simpleType name="vaccineOntologyId">
		<restriction base="token">
			<pattern value="[A-Z_0-9]{2,17}"></pattern>
		</restriction>
	</simpleType>

	<simpleType name="RxNormId">
		<restriction base="token">
			<pattern value="[0-9]"></pattern>
		</restriction>
	</simpleType>


	<complexType name="ProbabilityValuePair">
		<sequence>
			<element name="value" type="double" maxOccurs="1" minOccurs="1" />
			<element name="probability" type="tns:Probability" maxOccurs="1"
				minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="ProbabilityDistribution">
		<sequence>
			<element name="referenceId" type="nonNegativeInteger"
				maxOccurs="1" minOccurs="0" />
		</sequence>
	</complexType>


	<complexType name="UnconditionalProbabilityDistribution">
		<complexContent>
			<extension base="tns:ProbabilityDistribution" />
		</complexContent>
	</complexType>

	<complexType name="NonparametricProbabilityDistribution">
		<complexContent>
			<extension base="tns:UnconditionalProbabilityDistribution" />
		</complexContent>
	</complexType>

	<complexType name="ParametricProbabilityDistribution">
		<complexContent>
			<extension base="tns:UnconditionalProbabilityDistribution" />
		</complexContent>
	</complexType>

	<complexType name="DiscreteParametricProbabilityDistribution">
		<complexContent>
			<extension base="tns:ParametricProbabilityDistribution" />
		</complexContent>
	</complexType>

	<complexType name="ContinuousParametricProbabilityDistribution">
		<complexContent>
			<extension base="tns:ParametricProbabilityDistribution" />
		</complexContent>
	</complexType>

	<complexType name="LogNormalDistribution">
		<complexContent>
			<extension base="tns:ContinuousParametricProbabilityDistribution">
				<sequence>
					<element name="mean" type="double" maxOccurs="1" minOccurs="1" />
					<element name="standardDeviation" type="tns:NonNegativeDouble"
						maxOccurs="1" minOccurs="1" />
					<element name="shiftRight" type="tns:NonNegativeDouble"
						maxOccurs="1" minOccurs="0" />
					<element name="cutTailAt" type="tns:PositiveDouble"
						maxOccurs="1" minOccurs="0" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="GammaDistribution">
		<complexContent>
			<extension base="tns:ContinuousParametricProbabilityDistribution">
				<sequence>
					<element name="k-shape" type="tns:PositiveDouble"
						maxOccurs="1" minOccurs="1" />
					<element name="theta-scale" type="tns:PositiveDouble"
						maxOccurs="1" minOccurs="1" />
					<element name="shiftRight" type="tns:NonNegativeDouble"
						maxOccurs="1" minOccurs="1" />
					<element name="cutTailAt" type="tns:PositiveDouble"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="WeibullDistribution">
		<complexContent>
			<extension base="tns:ContinuousParametricProbabilityDistribution">
				<sequence>
					<element name="k-shape" type="tns:PositiveDouble"
						maxOccurs="1" minOccurs="1" />
					<element name="lambda-scale" type="tns:PositiveDouble"
						maxOccurs="1" minOccurs="1" />
					<element name="shiftRight" type="tns:NonNegativeDouble"
						maxOccurs="1" minOccurs="1" />
					<element name="cutTailAt" type="tns:PositiveDouble"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ContinuousUniformDistribution">
		<complexContent>
			<extension base="tns:ContinuousParametricProbabilityDistribution">
				<sequence>
					<element name="minimumValue" type="double" maxOccurs="1"
						minOccurs="1" />
					<element name="maximumValue" type="double" maxOccurs="1"
						minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="MeanWithConfidenceInterval">
		<complexContent>
			<extension base="tns:ProbabilityDistribution">
				<sequence>
					<element name="mean" type="double" maxOccurs="1" minOccurs="1" />
					<element name="lowerBound" type="double" maxOccurs="1"
						minOccurs="1" />
					<element name="upperBound" type="double" maxOccurs="1"
						minOccurs="1" />
					<element name="confidence" type="tns:Percent" maxOccurs="1"
						minOccurs="1">
					</element>
					<element name="sampleSize" type="nonNegativeInteger"
						maxOccurs="1" minOccurs="0">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="MeanWithStandardDeviation">
		<complexContent>
			<extension base="tns:ProbabilityDistribution">
				<sequence>
					<element name="mean" type="double" maxOccurs="1" minOccurs="1" />
					<element name="standardDeviation" type="tns:NonNegativeDouble"
						maxOccurs="1" minOccurs="1" />
					<element name="sampleSize" type="nonNegativeInteger"
						maxOccurs="1" minOccurs="0">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="MeanMedianMinimumMaximum">
		<complexContent>
			<extension base="tns:ProbabilityDistribution">
				<sequence>
					<element name="mean" type="double" maxOccurs="1" minOccurs="0" />
					<element name="median" type="double" maxOccurs="1"
						minOccurs="0" />
					<element name="minimumValue" type="double" maxOccurs="1"
						minOccurs="1" />
					<element name="maximumValue" type="double" maxOccurs="1"
						minOccurs="1" />
					<element name="sampleSize" type="nonNegativeInteger"
						maxOccurs="1" minOccurs="0">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="ConditionalProbabilityDistribution">
		<complexContent>
			<extension base="tns:ProbabilityDistribution">
				<sequence>
					<element name="firstConditioningVariable" type="tns:ConditioningVariable"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ConditioningVariable">
		<sequence>
			<element name="name" type="tns:ConditioningVariableEnum"
				maxOccurs="1" minOccurs="1" />
			<element name="categories" type="tns:Category" maxOccurs="unbounded"
				minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="Category">
		<sequence>
			<element name="categoryDefinition" type="tns:CategoryDefinition"
				maxOccurs="1" minOccurs="1" />
			<choice>
				<element name="unconditionalProbabilityDistribution" type="tns:UnconditionalProbabilityDistribution"
					maxOccurs="1" minOccurs="1" />
				<element name="conditioningVariable" type="tns:ConditioningVariable"
					maxOccurs="1" minOccurs="1" />
			</choice>
		</sequence>
	</complexType>


	<complexType name="ArrayAxis">
		<sequence>
			<element name="name" type="tns:ConditioningVariableEnum"
				maxOccurs="1" minOccurs="1" />
			<element name="categories" type="tns:CaseCountCategory"
				maxOccurs="unbounded" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="CaseCountCategory">
		<sequence>
			<element name="categoryDefinition" type="tns:CategoryDefinition"
				maxOccurs="1" minOccurs="1" />
			<choice>
				<element name="count" type="nonNegativeInteger" maxOccurs="1"
					minOccurs="1" />
				<element name="arrayAxis" type="tns:ArrayAxis" maxOccurs="1"
					minOccurs="1" />
			</choice>
		</sequence>
	</complexType>



	<complexType name="VariableCategoryDefinition">
		<sequence>
			<element name="categories" type="tns:CategoryDefinition"
				maxOccurs="unbounded" minOccurs="1" />
		</sequence>
	</complexType>


	<complexType name="CategoryDefinition" />

	<simpleType name="AbioticEcosystemEnum">
		<restriction base="string">
			<enumeration value="preschool" />
			<enumeration value="primarySchool" />
			<enumeration value="secondarySchool" />
			<enumeration value="workplace" />
			<enumeration value="pigFarm" />
			<enumeration value="chickenFarm" />
			<enumeration value="household" />
			<enumeration value="community" />
			<enumeration value="ovipositionSite" />
			<enumeration value="syringe" />
			<enumeration value="bushMeat" />
		</restriction>
	</simpleType>

	<simpleType name="ConditioningVariableEnum">
		<restriction base="string">
			<enumeration value="biologicalSex" />
			<enumeration value="gender" />
			<enumeration value="ageRange" />
			<enumeration value="timeSpan" />
			<enumeration value="diseaseOutcome" />
			<enumeration value="sourceOfInfection" />
		</restriction>
	</simpleType>

	<simpleType name="ApolloIndexableItemTypeEnum">
		<restriction base="string">
			<enumeration value="InfectionType" />
			<enumeration value="InfectionAcquisitionType" />
			<enumeration value="InfectiousDiseaseType" />
			<enumeration value="InfectiousDiseaseControlStrategyType" />
			<enumeration value="InfectiousDiseaseScenarioType" />
			<enumeration value="ContaminationType" />
			<enumeration value="ContaminatedThingCensusType" />
			<enumeration value="PopulationAndEnvironmentCensusType" />
			<enumeration value="PopulationInfectionImmunityCensusType" />
			<enumeration value="PopulationTreatmentCensusType" />
			<enumeration value="VaccinationType" />
			<enumeration value="AntiviralTreatmentType" />
			<enumeration value="EpidemicType" />
		</restriction>
	</simpleType>

	<simpleType name="UnitOfMeasureEnum">
		<restriction base="string">
			<enumeration value="dollars" />
			<enumeration value="euros" />
			<enumeration value="weight_in_pounds" />
			<enumeration value="weight_in_kilograms" />
			<enumeration value="seconds" />
			<enumeration value="minutes" />
			<enumeration value="hours" />
			<enumeration value="days" />
			<enumeration value="weeks" />
			<enumeration value="months" />
			<enumeration value="years" />
			<enumeration value="percent" />
			<enumeration value="cases" />
			<enumeration value="meters" />
			<enumeration value="inches" />
			<enumeration value="miles" />
			<enumeration value="daily_dose" />
			<enumeration value="percent_of_population_vaccinated" />
			<enumeration value="visits" />
		</restriction>
	</simpleType>

	<simpleType name="UnitOfDistanceEnum">
		<restriction base="string">
			<enumeration value="meters" />
			<enumeration value="inches" />
			<enumeration value="miles" />
		</restriction>
	</simpleType>

	<complexType name="DiseaseOutcomeWithProbability">
		<sequence>
			<element name="title" type="string" maxOccurs="1" minOccurs="0">
			</element>
			<element name="diseaseOutcome" type="tns:DiseaseOutcomeEnum"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="probability" type="tns:ProbabilisticParameter"
				maxOccurs="1" minOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="SeasonalityFunctionParameters">
		<sequence>
			<element name="maximumSeasonalLatitude" type="double"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="minimumSeasonalLatitude" type="double"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="seasonalTemporalOffset" type="double"
				maxOccurs="1" minOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="SpatialKernelFunctionParameters">
		<sequence>
			<element name="type" type="token" maxOccurs="1" minOccurs="1">
			</element>
			<element name="a0" type="double" maxOccurs="1" minOccurs="1">
			</element>
			<element name="a1" type="double" maxOccurs="1" minOccurs="1">
			</element>
			<element name="b0" type="double" maxOccurs="1" minOccurs="1">
			</element>
			<element name="b1" type="double" maxOccurs="1" minOccurs="1">
			</element>
			<element name="c1" type="double" maxOccurs="1" minOccurs="1">
			</element>
			<element name="cutoff" type="double" maxOccurs="1" minOccurs="1">
			</element>
		</sequence>
	</complexType>



<!-- 	<complexType name="GetPopulationAndEnvironmentCensusResult"> -->
<!-- 		<sequence> -->
<!-- 			<element name="methodCallStatus" type="tns:MethodCallStatus" -->
<!-- 				maxOccurs="1" minOccurs="1"> -->
<!-- 			</element> -->
<!-- 			<element name="populationAndEnvironmentCensus" type="tns:PopulationAndEnvironmentCensus" -->
<!-- 				maxOccurs="1" minOccurs="1"> -->
<!-- 			</element> -->
<!-- 		</sequence> -->
<!-- 	</complexType> -->

<!-- 	<complexType name="GetConfigurationFileForSimulationResult"> -->
<!-- 		<sequence> -->
<!-- 			<element name="methodCallStatus" type="tns:MethodCallStatus" -->
<!-- 				maxOccurs="1" minOccurs="1"> -->
<!-- 			</element> -->
<!-- 			<element name="configurationFile" type="string" maxOccurs="1" -->
<!-- 				minOccurs="0"> -->
<!-- 			</element> -->
<!-- 			<element name="configurationFileInHtmlFormat" type="string" -->
<!-- 				maxOccurs="1" minOccurs="0"> -->
<!-- 			</element> -->
<!-- 		</sequence> -->
<!-- 	</complexType> -->



	


	
	<complexType name="Location">
		<sequence>
			<choice>
				<element name="apolloLocationCode" type="tns:ApolloLocationCode"
					maxOccurs="1" minOccurs="1">
				</element>
				<element name="locationDefinition" type="tns:LocationDefinition"
					maxOccurs="1" minOccurs="1">
				</element>
				<element name="namedMultiGeometry" type="tns:NamedMultiGeometry"
					maxOccurs="1" minOccurs="1">
				</element>
				<element name="cartesianCircleLocationDefinition" type="tns:CartesianCircleLocationDefinition"
					maxOccurs="1" minOccurs="1">
				</element>
			</choice>
			<element name="textualDescription" type="string" maxOccurs="1"
				minOccurs="0" />
		</sequence>
	</complexType>

	<complexType name="CensusData">
		<complexContent>
			<extension base="tns:ApolloIndexableItem">
				<sequence>
					<element name="date" type="dateTime" maxOccurs="1"
						minOccurs="0">
					</element>
					<element name="location" type="tns:Location" maxOccurs="1"
						minOccurs="1">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="Census">
		<complexContent>
			<extension base="tns:ApolloIndexableItem">
				<sequence>
					<element name="description" type="string" maxOccurs="1"
						minOccurs="1">
					</element>
					<element name="location" type="tns:Location" maxOccurs="1"
						minOccurs="1">
					</element>
					<element name="simulatorTime" type="int" maxOccurs="1"
						minOccurs="1">
					</element>
					<element name="referenceDate" type="dateTime" maxOccurs="1"
						minOccurs="0">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	


	<complexType name="Population">
		<sequence>
			<element name="speciesId" type="tns:NcbiTaxonId" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="census" type="tns:PopulationAndEnvironmentCensus"
				maxOccurs="1" minOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="Individual">
		<sequence>
			<element name="speciesId" type="tns:NcbiTaxonId" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="conditionalBehaviors" type="tns:ConditionalIndividualBehavior"
				maxOccurs="unbounded" minOccurs="0">
			</element>
		</sequence>
	</complexType>

	<complexType name="ConditionalIndividualBehavior">
		<sequence>
			<element name="behavior" type="tns:BehaviorEnum" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="conditionalProbability" type="tns:ConditionalProbabilityDistribution"
				maxOccurs="1" minOccurs="1">
			</element>
		</sequence>
	</complexType>


	<simpleType name="BehaviorEnum">
		<restriction base="string">
			<enumeration value="absentFromWork" />
			<enumeration value="absentFromPreSchool" />
			<enumeration value="absentFromPrimarySchool" />
			<enumeration value="absentFromSecondarySchool" />
		</restriction>
	</simpleType>


	<complexType name="PlaceClosureControlStrategy">
		<complexContent>
			<extension base="tns:InfectiousDiseaseControlStrategy">
				<sequence>
					<element name="placeClass" type="tns:PlaceEnum" maxOccurs="1"
						minOccurs="1">
					</element>
					<element name="closeIndividualPlacesIndependently" type="boolean"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="closurePeriod" type="tns:Duration"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="householdTransmissionMultiplier" type="tns:NonNegativeDouble"
						maxOccurs="1" minOccurs="0">
					</element>
					<element name="communityTransmissionMultiplier" type="tns:NonNegativeDouble"
						maxOccurs="1" minOccurs="0">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="CaseQuarantineControlStrategy">
		<complexContent>
			<extension base="tns:InfectiousDiseaseControlStrategy">
				<sequence>
					<element name="quarantinePeriod" type="tns:Duration"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="compliance" type="tns:ProbabilisticParameter"
						maxOccurs="1" minOccurs="1" />
					<element name="householdTransmissionMultiplier" type="tns:NonNegativeDouble"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="schoolTransmissionMultiplier" type="tns:NonNegativeDouble"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="workplaceTransmissionMultiplier" type="tns:NonNegativeDouble"
						maxOccurs="1" minOccurs="1">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="BorderControlStrategy">
		<complexContent>
			<extension base="tns:InfectiousDiseaseControlStrategy">
				<sequence>
					<element name="probabilityEntryDenied" type="tns:Probability"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="probabilityExitDenied" type="tns:Probability"
						maxOccurs="1" minOccurs="1">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="VectorControlStrategy">
		<complexContent>
			<extension base="tns:InfectiousDiseaseControlStrategy">
				<sequence>
					<element name="vectorTaxonId" type="tns:NcbiTaxonId"
						maxOccurs="1" minOccurs="0" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="WolbachiaControlStrategy">
		<complexContent>
			<extension base="tns:VectorControlStrategy">
				<sequence>
					<element name="wolbachiaSitesEveryNth" type="positiveInteger"
						maxOccurs="1" minOccurs="0" />
					<element name="wolbachiaSeedAdultsPerHouse" type="nonNegativeInteger"
						maxOccurs="1" minOccurs="0" />
					<element name="clearWolbachiaOnMigration" type="boolean"
						maxOccurs="1" minOccurs="0" />
					<element name="wolbachiaReleaseInterval" type="tns:FixedDuration"
						maxOccurs="1" minOccurs="0" />
					<element name="wolbachiaReleaseSites" type="tns:WolbachiaReleaseSiteEnum"
						maxOccurs="1" minOccurs="0" />
					<element name="wolbachiaEffectOnEggMortalityRate" type="tns:Fraction"
						maxOccurs="1" minOccurs="0" />
					<element name="wolbachiaEffectOnAdultMortalityRate" type="tns:Fraction"
						maxOccurs="1" minOccurs="0" />
					<element name="wolbachiaEffectOnLarvalMortalityRate" type="tns:Fraction"
						maxOccurs="1" minOccurs="0" />
					<element name="wolbachiaEffectOnFecundity" type="tns:Fraction"
						maxOccurs="1" minOccurs="0" />
					<element name="wolbachiaEffectOnMatingProbability" type="tns:Fraction"
						maxOccurs="1" minOccurs="0" />
					<element name="wolbachiaEffectOnLeakageRate" type="tns:Fraction"
						maxOccurs="1" minOccurs="0" />
					<element name="wolbachiaEffectOnVectorialCapacity" type="tns:Fraction"
						maxOccurs="1" minOccurs="0" />
					<element name="wolbachiaPreReleaseAdultSuppressionEfficacy"
						type="tns:Fraction" maxOccurs="1" minOccurs="0" />
					<element name="wolbachiaPreReleaseLarvalSuppressionEfficacy"
						type="tns:Fraction" maxOccurs="1" minOccurs="0" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<simpleType name="WolbachiaReleaseSiteEnum">
		<restriction base="string">
			<enumeration value="roads" />
			<enumeration value="ovi-sites" />
			<enumeration value="front-doors" />
		</restriction>
	</simpleType>


	<complexType name="LarvicideControlStrategy">
		<complexContent>
			<extension base="tns:VectorControlStrategy">
				<sequence>
					<element name="coverRadius" type="tns:Distance" maxOccurs="1"
						minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="IndoorResidualSprayingVectorControlStrategy">
		<complexContent>
			<extension base="tns:VectorControlStrategy">
				<sequence>
					<element name="coverRadius" type="tns:Distance" maxOccurs="1"
						minOccurs="1" />
					<element name="fractionOfAdultsAffected" type="tns:Fraction"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="ContainerReductionControlStrategy">
		<complexContent>
			<extension base="tns:VectorControlStrategy">
				<sequence>
					<element name="coverRadius" type="tns:Distance" maxOccurs="1"
						minOccurs="1" />
					<element name="fractionReductionOfEggs" type="tns:Fraction"
						maxOccurs="1" minOccurs="1" />
					<element name="fractionReductionOfLarvae" type="tns:Fraction"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<simpleType name="Percent">
		<restriction base="nonNegativeInteger">
			<minInclusive value="0" />
		</restriction>
	</simpleType>

	<simpleType name="Latitude">
		<restriction base="double">
			<minInclusive value="-90" />
			<maxInclusive value="90" />
		</restriction>
	</simpleType>

	<simpleType name="Longitude">
		<restriction base="double">
			<minInclusive value="-180" />
			<maxInclusive value="180" />
		</restriction>
	</simpleType>

	<complexType name="TravelRestrictionControlStrategy">
		<complexContent>
			<extension base="tns:InfectiousDiseaseControlStrategy">
				<sequence>
					<element name="maximumTravelDistanceInKm" type="tns:NonNegativeDouble"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="compliance" type="tns:ProbabilisticParameter"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="DiseaseSurveillanceCapability">
		<sequence>
			<element name="location" type="tns:Location" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="pathogen" type="tns:ApolloPathogenCode"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="speciesOfCase" type="tns:NcbiTaxonId"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="caseDefinition" type="tns:DiseaseOutcomeEnum"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="sensitivityOfCaseDetection" type="tns:Probability"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="specificityOfCaseDetection" type="tns:Probability"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="timeDelayOfCaseDetection" type="tns:Duration"
				maxOccurs="1" minOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="TreatmentSurveillanceCapability">
		<sequence>
			<element name="location" type="tns:Location" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="treatment" type="tns:IndividualTreatmentEnum"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="sensitivityOfTreatmentDetection" type="tns:Probability"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="specificityOfTreatmentDetection" type="tns:Probability"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="timeDelayOfTreatmentDetection" type="tns:Duration"
				maxOccurs="1" minOccurs="1">
			</element>
		</sequence>
	</complexType>


	<complexType name="TreatmentSystemLogistics">
		<sequence>
			<element name="description" type="string" maxOccurs="1"
				minOccurs="0">
			</element>
			<element name="location" type="tns:Location" maxOccurs="1"
				minOccurs="1">
			</element>

			<element name="supplySchedulePerDay" type="nonNegativeInteger"
				maxOccurs="unbounded" minOccurs="0">
			</element>
			<element name="supplyScheduleUnits" type="tns:UnitOfMeasureEnum"
				maxOccurs="1" minOccurs="0">
			</element>
			<element name="administrationCapacityPerDay" type="nonNegativeInteger"
				maxOccurs="unbounded" minOccurs="0">
			</element>
			<element name="administrationCapacityUnits" type="tns:UnitOfMeasureEnum"
				maxOccurs="1" minOccurs="0">
			</element>
		</sequence>
	</complexType>

	<complexType name="Rate">
		<sequence>
			<element name="numeratorUnitOfMeasure" type="tns:UnitOfMeasureEnum"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="denominatorUnitOfMeasure" type="tns:UnitOfMeasureEnum"
				maxOccurs="1" minOccurs="1">
			</element>
			<choice>
				<element name="value" type="double" maxOccurs="1" minOccurs="1">
				</element>
				<element name="probabilityDistribution" type="tns:ProbabilityDistribution"
					maxOccurs="1" minOccurs="1">
				</element>
			</choice>
		</sequence>
	</complexType>


	<complexType name="NonApolloParameter">
		<sequence>
			<element name="description" type="string" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="parameterName" type="string" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="parameterValue" type="double" maxOccurs="1"
				minOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="WithinGroupTransmissionProbability">
		<sequence>
			<element name="groupType" type="token" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="probability" type="tns:Probability" maxOccurs="1"
				minOccurs="1">
			</element>
		</sequence>
	</complexType>


	<simpleType name="OperatorEnum">
		<restriction base="string">
			<enumeration value="less_than_or_equal" />
			<enumeration value="greater_than_or_equal" />
		</restriction>
	</simpleType>





	<complexType name="IndividualLifeCycle">
		<sequence>
			<element name="speciesId" type="tns:NcbiTaxonId" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="lifeStagesWithDurationsAndMortalities" type="tns:LifeStageWithDurationAndMortality"
				maxOccurs="unbounded" minOccurs="1">
			</element>
		</sequence>
	</complexType>


	<complexType name="AaaDummyType">
		<sequence>
			<element name="elementIWantToScreenSnapWithoutArrows" type="tns:TreatmentEfficacy">
			</element>
		</sequence>
	</complexType>


	
	<complexType name="IndividualBehavior"></complexType>

	<complexType name="IndividualMosquitoBehavior">
		<complexContent>
			<extension base="tns:IndividualBehavior">
				<sequence>
					<element name="biteProbability" type="tns:ProbabilisticParameter"
						maxOccurs="1" minOccurs="0" />
					<element name="biteRadius" type="tns:Distance" maxOccurs="1"
						minOccurs="0" />
					<element name="timeBetweenBites" type="tns:Duration"
						maxOccurs="1" minOccurs="0" />
					<element name="migrationSpeed" type="tns:Rate" maxOccurs="1"
						minOccurs="0" />
					<element name="shadeAffinity" type="tns:Fraction"
						maxOccurs="1" minOccurs="0" />
					<element name="maleMatingRadius" type="tns:Distance"
						maxOccurs="1" minOccurs="0" />
					<element name="matingProbability" type="tns:Probability"
						maxOccurs="1" minOccurs="0" />
					<element name="straightTravelAfterOviposit" type="tns:Distance"
						maxOccurs="1" minOccurs="0" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="IndividualHumanBehavior">
		<complexContent>
			<extension base="tns:IndividualBehavior">
				<sequence>
					<element name="speedOfMovement" type="tns:Rate" maxOccurs="1"
						minOccurs="0">
					</element>
					<element name="buildingAffinity" type="tns:Fraction"
						maxOccurs="1" minOccurs="0">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>



	<complexType name="Distance">
		<complexContent>
			<extension base="tns:ParameterValue">
				<sequence>
					<element name="unitOfDistance" type="tns:UnitOfDistanceEnum"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="value" type="double" maxOccurs="1"
						minOccurs="1">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>



	<complexType name="ParameterValue"></complexType>

	<complexType name="TransmissionProbability">
		<sequence>
			<element name="contactDefinition" type="tns:ContactDefinitionEnum"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="contactDefinitionText" type="token" maxOccurs="1"
				minOccurs="0">
			</element>
			<element name="probability" type="tns:Probability" maxOccurs="1"
				minOccurs="1">
			</element>
		</sequence>
	</complexType>


	<simpleType name="ContactDefinitionEnum">
		<restriction base="string">
			<enumeration value="primaryContact" />
			<enumeration value="secondaryContact" />
			<enumeration value="infectedMosquitoBitesSusceptibleHuman" />
			<enumeration value="susceptibleMosquitoBitesInfectiousHuman" />
			<enumeration value="parenteralInjection" />
			<enumeration value="physicalContact" />
			<enumeration value="contactWithBodyFluids" />
			<enumeration value="assistedChildbirthOfInfectedMother" />
		</restriction>
	</simpleType>

	<complexType name="IndividualMosquitoReproduction">
		<sequence>
			<element name="gonotrophicPeriodDuration" type="tns:Duration"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="eggsPerBrood" type="nonNegativeInteger"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="minimumEggsPerOviposition" type="positiveInteger"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="ageDependentFecundityReduction" type="tns:Rate"
				maxOccurs="1" minOccurs="0">
			</element>
		</sequence>
	</complexType>

	<complexType name="LifeStageWithDurationAndMortality">
		<sequence>
			<element name="stage" type="tns:DevelopmentalStageEnum"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="duration" type="tns:Duration" maxOccurs="1"
				minOccurs="1">
			</element>
			<choice>
				<element name="mortalityRate" type="tns:Rate" maxOccurs="1"
					minOccurs="1">
				</element>
				<element name="mortalityFunction" type="tns:MortalityFunction"
					maxOccurs="1" minOccurs="1">
				</element>
			</choice>
		</sequence>
	</complexType>

	<complexType name="MortalityFunction"></complexType>

	<complexType name="ClaraDensityDependentMortalityFunction">
		<complexContent>
			<extension base="tns:MortalityFunction">
				<sequence>
					<element name="description" type="string" maxOccurs="1"
						minOccurs="0" />
					<element name="omega" type="tns:NonNegativeDouble"
						maxOccurs="1" minOccurs="1" />
					<element name="sigma" type="tns:NonNegativeDouble"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<simpleType name="DevelopmentalStageEnum">
		<restriction base="string">
			<enumeration value="egg" />
			<enumeration value="larval" />
			<enumeration value="pupal" />
			<enumeration value="larvalAndPupal" />
			<enumeration value="adultForm" />
		</restriction>
	</simpleType>


	<complexType name="CartesianCircleLocationDefinition">
		<sequence>
			<element name="eastWestOffsetFromCartesianCenter" type="tns:Distance"
				maxOccurs="1" minOccurs="1" />
			<element name="northSouthOffsetFromCartesianCenter" type="tns:Distance"
				maxOccurs="1" minOccurs="1" />
			<element name="altitudeRelativeToCartesianCenter" type="tns:Distance"
				maxOccurs="1" minOccurs="1" />
			<element name="radius" type="tns:Distance" maxOccurs="1"
				minOccurs="1" />
		</sequence>
	</complexType>


	<complexType name="ScenarioCartesianOrigin">
		<sequence>
			<element name="cartesianReferenceLongitude" type="tns:Longitude"
				maxOccurs="1" minOccurs="1" />
			<element name="cartesianReferenceLatitude" type="tns:Latitude"
				maxOccurs="1" minOccurs="1" />
			<element name="cartesianReferenceAltitude" type="tns:Distance"
				maxOccurs="1" minOccurs="1" />
		</sequence>
	</complexType>


	<complexType name="OvipositionSiteCensus">
		<complexContent>
			<extension base="tns:AbioticEcosystemCensus">
				<sequence>
					<element name="breteauIndex" type="nonNegativeInteger"
						maxOccurs="1" minOccurs="0" />
					<element name="carryingCapacityPerHouse" type="tns:NonNegativeDouble"
						maxOccurs="1" minOccurs="0" />
					<element name="heterogenousCarryingCapacity" type="boolean"
						maxOccurs="1" minOccurs="0" />
					<element name="ratioOfOutdoorToIndoorOvisites" type="tns:NonNegativeDouble"
						maxOccurs="1" minOccurs="0" />
					<element name="maximumRatioOfOutdoorCarryingCapacityToIndoor"
						type="tns:NonNegativeDouble" maxOccurs="1" minOccurs="0" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>



	<complexType name="CaseDefinition">
		<complexContent>
			<extension base="tns:CategoryDefinition">
				<sequence>
					<element name="apolloLabel" type="tns:CaseDefinitionEnum"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="investigationLabel" type="token" maxOccurs="1"
						minOccurs="1">
					</element>
					<element name="investigationDefinition" type="token"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="referenceId" type="nonNegativeInteger"
						maxOccurs="1" minOccurs="1">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="CaseList">
		<sequence>
			<element name="speciesOfCases" type="tns:NcbiTaxonId"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="caseRecords" type="tns:CaseRecord" maxOccurs="unbounded"
				minOccurs="1">
			</element>
		</sequence>
	</complexType>


	<complexType name="CaseRecord">
		<sequence>
			<element name="caseId" type="token" maxOccurs="1" minOccurs="1">
			</element>
			<element name="ageInYears" type="nonNegativeInteger"
				maxOccurs="1" minOccurs="0">
			</element>
			<element name="occupations" type="tns:OccupationEnum"
				maxOccurs="unbounded" minOccurs="0">
			</element>
			<element name="placesVisitedWhileSusceptibleOrInfectious"
				type="tns:PlaceVisited" maxOccurs="unbounded" minOccurs="0"></element>
			<element name="infectionAcquiredFromCaseId" type="token"
				maxOccurs="1" minOccurs="0">
			</element>
			<element name="diseaseOutcomesWithLocationDateTime" type="tns:DiseaseOutcomeWithLocationDateTime"
				maxOccurs="unbounded" minOccurs="0">
			</element>
			<element name="labTestsAndResults" type="tns:LabTestAndResult"
				maxOccurs="unbounded" minOccurs="0">
			</element>
			<element name="pathogenGeneSequence" type="string" maxOccurs="1"
				minOccurs="0">
			</element>
		</sequence>
	</complexType>

	<simpleType name="CaseDefinitionEnum">
		<restriction base="string">
			<enumeration value="case" />
			<enumeration value="confirmedCase" />
			<enumeration value="probableCase" />
			<enumeration value="suspectedCase" />
			<enumeration value="neonatalCase" />
			<enumeration value="epidemiologicallyLinkedCase" />
			<enumeration value="fatalCase" />
			<enumeration value="alertCase" />
		</restriction>
	</simpleType>


	<complexType name="CaseCount">
		<sequence>
			<element name="countTitle" type="string" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="caseDefinitionsIncluded" type="tns:CaseDefinitionEnum"
				maxOccurs="unbounded" minOccurs="1" />
			<choice>
				<element name="totalCount" type="nonNegativeInteger"
					maxOccurs="1" minOccurs="1" />
				<element name="caseCountArray" type="tns:CaseCountArray"
					maxOccurs="1" minOccurs="1" />
			</choice>
			<element name="referenceId" type="nonNegativeInteger"
				maxOccurs="1" minOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="CaseCountArray">
		<sequence>
			<element name="nDimensions" type="positiveInteger" maxOccurs="1"
				minOccurs="0">
			</element>
			<element name="firstArrayAxis" type="tns:ArrayAxis"
				maxOccurs="1" minOccurs="1" />
		</sequence>
	</complexType>



	<complexType name="CaseRecordCategoricalVariables">
		<sequence>
			<element name="someWayToIdentifyOutbreak" type="string"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="categoricalVariablesAndCategories" type="tns:CaseRecordCategoricalVariable"
				maxOccurs="unbounded" minOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="CaseRecordCategoricalVariable">
		<sequence>
			<element name="categoricalVariable" type="tns:ConditioningVariableEnum"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="categories" type="tns:CategoryDefinition"
				maxOccurs="unbounded" minOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="EpidemicPeriod">
		<sequence>
			<element name="startDate" type="date" maxOccurs="1"
				minOccurs="1" />
			<element name="startDateDefinition" type="tns:EpidemicPeriodBoundaryDefinitionEnum"
				maxOccurs="1" minOccurs="1" />
			<element name="endDate" type="date" maxOccurs="1" minOccurs="0" />
			<element name="endDateDefinition" type="tns:EpidemicPeriodBoundaryDefinitionEnum"
				maxOccurs="1" minOccurs="0" />
		</sequence>
	</complexType>

	<complexType name="ContactDefinition">
		<sequence>
			<element name="apolloLabel" type="tns:ContactDefinitionEnum"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="investigationLabel" type="token" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="investigationDefinition" type="token"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="referenceId" type="nonNegativeInteger"
				maxOccurs="1" minOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="TransmissionTree">
		<sequence>
			<element name="thisCase" type="tns:CaseRecord" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="casesThisCaseInfected" type="tns:TransmissionTree"
				maxOccurs="unbounded" minOccurs="0">
			</element>
		</sequence>
	</complexType>

	<complexType name="RelativeRiskDataSet">
		<sequence>
			<element name="textualDescription" type="token" maxOccurs="1"
				minOccurs="1" />
			<element name="caseCountArray" type="tns:CaseCountArray"
				maxOccurs="1" minOccurs="1" />
			<element name="controlCountArray" type="tns:CaseCountArray"
				maxOccurs="1" minOccurs="1" />
			<element name="referenceId" type="tns:Reference" maxOccurs="1"
				minOccurs="0" />
		</sequence>
	</complexType>

	<complexType name="CaseVariableAndValue">
		<sequence>
			<element name="variable" type="string"></element>
			<element name="categoryDefinition" type="tns:CategoryDefinition"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="value" type="string"></element>
		</sequence>
	</complexType>

	<complexType name="PopulationInfectionSurvey">
		<sequence>
			<element name="speciesSampled" type="token" maxOccurs="1"
				minOccurs="1" />
			<element name="speciesSampledNcbiTaxonId" type="tns:NcbiTaxonId"
				maxOccurs="1" minOccurs="1" />
			<element name="numberSampled" type="positiveInteger"
				maxOccurs="1" minOccurs="1" />
			<element name="whereSampled" type="token" maxOccurs="1"
				minOccurs="0" />
			<element name="testName" type="token" maxOccurs="1"
				minOccurs="0" />
			<element name="testLoincId" type="tns:LoincId" maxOccurs="1"
				minOccurs="0" />
			<element name="numberOfSamplesPositive" type="token"
				maxOccurs="1" minOccurs="0" />
			<element name="referenceId" type="nonNegativeInteger"
				maxOccurs="1" minOccurs="0" />
		</sequence>
	</complexType>

	<complexType name="PopulationSerologySurvey">
		<sequence>
			<element name="speciesSampled" type="token" maxOccurs="1"
				minOccurs="1" />
			<element name="speciesSampledNcbiTaxonId" type="tns:NcbiTaxonId"
				maxOccurs="1" minOccurs="1" />
			<element name="numberSampled" type="positiveInteger"
				maxOccurs="1" minOccurs="1" />
			<element name="whereSampled" type="token" maxOccurs="1"
				minOccurs="0" />
			<element name="testName" type="token" maxOccurs="1"
				minOccurs="0" />
			<element name="testLoincId" type="tns:LoincId" maxOccurs="1"
				minOccurs="0" />
			<element name="numberOfSamplesPositive" type="token"
				maxOccurs="1" minOccurs="0" />
			<element name="referenceId" type="nonNegativeInteger"
				maxOccurs="1" minOccurs="0" />
		</sequence>
	</complexType>


	<complexType name="Reference">
		<sequence>
			<element name="id" type="nonNegativeInteger" maxOccurs="1"
				minOccurs="1" />
			<element name="title" type="string" maxOccurs="1" minOccurs="1" />
			<element name="authors" type="string" maxOccurs="1"
				minOccurs="0" />
			<element name="publication" type="string" maxOccurs="1"
				minOccurs="0">
			</element>
			<element name="url" type="string" maxOccurs="1" minOccurs="1" />
			<element name="pubMedId" type="nonNegativeInteger" maxOccurs="1"
				minOccurs="0" />
			<element name="orcId" type="string" maxOccurs="1" minOccurs="0">
			</element>
			<element name="obcIdeId" type="nonNegativeInteger" maxOccurs="1"
				minOccurs="0" />
		</sequence>
	</complexType>

	<simpleType name="EpidemicPeriodBoundaryDefinitionEnum">
		<restriction base="string">
			<enumeration value="symptomOnsetFirstCase" />
			<enumeration value="dateOfFirstCaseFatality" />
			<enumeration value="firstLabCaseConfirmation" />
			<enumeration value="symptomOnsetLastCase" />
			<enumeration value="hospitalizationLastCase" />
			<enumeration value="deathOfLastCase" />
			<enumeration value="administrativeDeclaration" />
			<enumeration value="lastLabCaseConfirmation" />
		</restriction>
	</simpleType>

	<complexType name="CountType"></complexType>

	<complexType name="IntegerCount">
		<complexContent>
			<extension base="tns:CountType">
				<sequence>
					<element name="integer" type="integer" maxOccurs="1"
						minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="DoubleCount">
		<complexContent>
			<extension base="tns:CountType">
				<sequence>
					<element name="double" type="tns:NonNegativeDouble"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="ReproductionNumber">
		<sequence>
			<choice>
				<element name="exactValue" type="tns:NonNegativeDouble"
					maxOccurs="1" minOccurs="1">
				</element>
				<element name="uncertainValue" type="tns:ProbabilityDistribution"
					maxOccurs="1" minOccurs="1">
				</element>
			</choice>
			<element name="referenceId" type="nonNegativeInteger"
				maxOccurs="1" minOccurs="0">
			</element>
		</sequence>
	</complexType>


	<complexType name="Interval">
		<sequence>
			<element name="startBoundaryDefinition" type="tns:IntervalBoundaryDefinitionEnum"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="endBoundaryDefinition" type="tns:IntervalBoundaryDefinitionEnum"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="duration" type="tns:Duration" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="readableTitle" type="token" maxOccurs="1"
				minOccurs="0">
			</element>
			<element name="referenceId" type="nonNegativeInteger"
				maxOccurs="1" minOccurs="0">
			</element>
		</sequence>
	</complexType>

	<simpleType name="IntervalBoundaryDefinitionEnum">
		<restriction base="string">
			<enumeration value="timeOfFirstSymptom" />
			<enumeration value="timeOfRecovery" />
			<enumeration value="timeOfHospitalAdmission" />
			<enumeration value="timeOfHospitalDischarge" />
			<enumeration value="timeOfDeath" />
			<enumeration value="timeOfWhoNotification" />
			<enumeration value="timeOfCaseDetection" />
		</restriction>
	</simpleType>





	<complexType name="LocationPolygon">
		<sequence>
			<element name="linearRing" type="string"></element>
		</sequence>
	</complexType>

	<simpleType name="LoincId">
		<restriction base="string">
			<pattern value="[0-9]{5}-[0-9]{1}"></pattern>
		</restriction>
	</simpleType>

	<complexType name="DiseaseOutcomeWithLocationDateTime">
		<sequence>
			<element name="diseaseOutcome" type="tns:DiseaseOutcomeEnum"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="dateTime" type="dateTime" maxOccurs="1"
				minOccurs="0">
			</element>
			<choice><element name="place" type="tns:PlaceEnum" maxOccurs="1" minOccurs="0">
			</element>
				<element name="namedPolygon" type="tns:NamedMultiGeometry" maxOccurs="1" minOccurs="0"></element></choice>
		</sequence>
	</complexType>


	<complexType name="LabTestAndResult">
		<sequence>
			<choice>
				<element name="textualName" type="string" maxOccurs="1"
					minOccurs="1"></element>
				<element name="loincCode" type="tns:LoincId" maxOccurs="1"
					minOccurs="1"></element>

			</choice>
			<element name="sampleDate" type="dateTime" maxOccurs="1"
					minOccurs="0"></element>
			<element name="result" type="string" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<simpleType name="OccupationEnum">
		<restriction base="string">
			<enumeration value="storekeeper" />
			<enumeration value="merchant" />
			<enumeration value="nurse" />
			<enumeration value="hospitalMessenger" />
		</restriction>
	</simpleType>

	<complexType name="PlaceVisited">
		<sequence>
			<choice>
				<element name="place" type="tns:PlaceEnum" maxOccurs="1" minOccurs="1">
				</element>
				<element name="namedMultiGeometry" type="tns:NamedMultiGeometry" maxOccurs="1" minOccurs="1"></element>
			</choice>
			<choice>
				<element name="frequencyOfVisits" type="tns:Rate"
					maxOccurs="1" minOccurs="0">
				</element>
				<element name="datesOfVisits" type="date" maxOccurs="unbounded"
					minOccurs="0">
				</element>
				<element name="realDateSpansOfVisits"
					type="tns:RealDateSpanCategoryDefinition" maxOccurs="unbounded"
					minOccurs="0">
				</element>
				<element name="realTimeSpansOfVisits"
					type="tns:RealTimeSpanCategoryDefinition" maxOccurs="unbounded"
					minOccurs="0">
				</element>
			</choice>
        </sequence>
	</complexType>


	<complexType name="MultiGeometry">
		<sequence>
			<element name="polygons" type="tns:LocationPolygon" maxOccurs="unbounded" minOccurs="1"></element>
		</sequence>
	</complexType>


	<complexType name="NamedMultiGeometry">
	<!-- <complexContent>
	<extension base="tns:MultiGeometry">-->
		<sequence>
		<element name="polygons" type="tns:LocationPolygon" maxOccurs="unbounded" minOccurs="1"></element>
			<choice>
				<element name="apolloLocationCode" type="tns:ApolloLocationCode"
					maxOccurs="1" minOccurs="1"></element>
				<element name="textualDescription" type="string" maxOccurs="1"
					minOccurs="1"></element>
			</choice>
		</sequence>
		<!--  </extension>
		</complexContent> -->
	</complexType>
	
	</schema>